@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @model Survey
    <form class='container mt-5' asp-action ='Create'asp-controller="Home" method='POST'>
        <div class="form-group">
            <span asp-validation-for="Name"></span><br>
            <label asp-for = "Name"></label>
            <input type="text" asp-for="Name" class="form-control"  placeholder = "Name">
        </div>
        <br>
        <div class="dropdown">
            <span asp-validation-for="Location"></span>
            <label class="my-1 mr-2" asp-for="Location">Location</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" asp-for= "Location">
                <option selected>Choose...</option>
                <option value="San Jose">San Jose</option>
                <option value="San Jose">Seatle</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Dallas">Dallas</option>
                <option value="Tysons Corner">Tysons Corner</option>
                <option value="Chicago">Chicago</option>
                <option value="Tulsa">Tulsa</option>
                <option value="Berkely">Berkely</option>
                <option value="Boise">Boise</option>
                <option value="Orange County">Orange County</option>
                <option value="Mos Eisley">Mos Eisley</option>
            </select>
        </div>
        <br>
        <div class="dropdown">
            <span asp-validation-for="FavStack"></span>
            <label class="my-1 mr-2"asp-for="FavStack"></label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" asp-for="FavStack">
                <option selected>Choose...</option>
                <option value="Python">Python</option>
                <option value=".NET">.NET</option>
                <option value="MEAN">MEAN</option>
                <option value="Klingon">Klingon</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <span asp-validation-for="Comment"></span>
            <label>Comment (optional)</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="Comment"></textarea>
        </div>
        <input type="submit" value="submit survey">
    </form>
</div>
